mixin modal()
	//  start modals
	+b.modal-complain.modal-win(id="modal-complain" style="display: none")
		.mod-close-btn.modal-close-js
			+icon('cross-sm')
		+form-wrap
			+e.title.text-center
				h2 пожаловаться на пользователя
			+e.content
				+input("Ваше обращение", 'textarea', 'Напишите о причине жалобы')(required)
				+e.btn(type="submit") Отправить
	// #modal-call
	+b.modal-complain--succ.modal-win(id="modal-comp-success"  style="display: none")
		.mod-close-btn.modal-close-js
			+icon('cross-sm')
		+b.form-wrap
			+e.title--success.text-center
				h2 пожаловаться на пользователя
				p Спасибо, что делаете платформу MetalGO еще лучше
			.text-center
				+e.btn--w-auto(type="submit") Закрыть
	// #modal-comp-success
	+b.modal-met.modal-win(id="modal-met"  style="display: none")
		.mod-close-btn.modal-close-js
			+icon('cross-sm')
		.modal-win__header
			.modal-win__title калькулятор металла
		.modal-win__content
			+e.row.row.gx-0
				+e.col--left.col-lg-auto
					+e.input-wrap.form-group
						label
							+e.SPAN.input-title Металл
							+e.SELECT.input.form-select(name="lalala")
								option(disabled selected hidden value="") Выберите металл
								option(value="металл1") металл1
								option(value="металл2") металл2
								option(value="металл3") металл3
					+e.input-wrap.form-group
						label
							+e.SPAN.input-title Марка
							+e.SELECT.input.form-select(name="lalala")
								option(disabled selected hidden value="") Выберите марку
									option(value="металл1") металл1
									option(value="металл2") металл2
									option(value="металл3") металл3
					+e.input-wrap
						+e.input-title Тип проката
						+e.radio-row.row
							-for(var i = 1; i <= 10; i++)
								+modalMetalRadio(i)
				+e.col--right.col-lg
					+e.body-items
						+modalMetalBItem(1, 'Уголок', 'active')(checked)
						+modalMetalBItem(2, 'Уголок 2')
						+modalMetalBItem(3, 'Уголок 3')
						+modalMetalBItem(4, 'Уголок 4')
						+modalMetalBItem(5, 'Уголок 5')
						+modalMetalBItem(6, 'Уголок 6')
						+modalMetalBItem(7, 'Уголок 7')
						+modalMetalBItem(8, 'Уголок 8')
						+modalMetalBItem(9, 'Уголок 9')
						+modalMetalBItem(10, 'Уголок 10')
					+e.error.text-sm-start.text-center.text-danger Текст ошибки при заполнении размеров и веса металла.
	// #modal-met
	+b.modal-comp.modal-win(id="modal-comp"  style="display: none")
		.mod-close-btn.modal-close-js
			+icon('cross-sm')
		.modal-win__header
			.modal-win__title Выберите транспортную компанию
		.modal-win__content
			+e.items
				+e.item(href="#")
					img(loading="lazy" src=`img/svg/comp-logo.svg` alt="")
	// #modal-comp
	+modalLog({
		id: 1,
		itemsAmount: 1,
		fromInpVal: '',
		toInpVal: '',
		addressTake: 'Введите адрес забора',
		addressTakeClass: 'gray',
		addressDelivery: 'Введите адрес доставки',
		addressDeliveryClass: 'gray',
	})
	+modalLog({
		id: 2,
		itemsAmount: 3,
		fromInpVal: 'Тольятти',
		toInpVal: 'Челябинск',
		addressTake: 'Тольятти',
		addressTakeClass: null,
		addressDelivery: 'Челябинск',
		addressDeliveryClass: null,
	})
	+modalLog({
		id: 3,
		itemsAmount: 3,
		fromInpVal: '',
		inpFromClass: 'border-danger',
		toInpVal: 'Челябинск',
		addressTake: 'Введите адрес забора',
		addressTakeClass: 'text-danger',
		addressDelivery: 'Челябинск',
		addressDeliveryClass: null,
		itemError: 'Текст ошибки при заполнении габаритов.',
	})
	//#modal-log
	+b.modal-complain--succ.modal-win(id="modal-order-success"  style="display: none")
		.mod-close-btn.modal-close-js
			+icon('cross-sm')
		+b.form-wrap
			+e.title--success.text-center
				h2 заявка на доставку отправлена
				p
					| Менеджер логистики свяжется с Вами
					br
					| в ближайшее время для согласования деталей.
			.text-center
				+e.btn--w-auto(type="submit") Закрыть
	// #modal-comp-success
	// end modals

mixin modalLog(data)
	+b.modal-log.modal-win(id=`modal-log${data.id}`  style="display: none")
		.mod-close-btn.modal-close-js
			+icon('cross-sm')
		.modal-win__header
			.modal-win__title калькулятор логистики
		.modal-win__content
			+e.row.row.gx-0
				+e.col--left.col-lg-auto
					+e.box--top
						+e.title--top Данные о грузе
						+e.items
							+modalLogItem(data.itemError)
							-for(var i = 0; i < data.itemsAmount - 1; i++)
								+modalLogItem()
						+e.add-btn(type="button")
							+e.a-ball
								+icon('add')
							span Добавить
					+e.box--bot
						+e.title--bot Направление
						+e.d-row.row.align-items-center
							.col
								+e.d-items
									+modalLogDItem('A', 'Москва', data.fromInpVal, data.inpFromClass)
									+modalLogDItem('Б', 'Санкт-Петербург', data.toInpVal)
							.col-auto
								+e.d-transfer
									img(loading="lazy" src='img/svg/transfer.svg' alt="")
				+e.col--right.col-lg
					+e.sub-box--dir
						+e.val-items
							+modalLogVItem('A', data.addressTake, data.addressTakeClass)
							+modalLogVItem('Б', data.addressDelivery, data.addressDeliveryClass)
						+e.data-items
							-for(var i = 0; i < data.itemsAmount; i++)
								+e.data-item Груз: 0.01 м3, 0 кг, 1 место
					+modalLogPItem('Автоперевозка')
					+modalLogPItem('Сумма')
					+e.sub-box--foot
						+e.f-row.row.align-items-center
							.col-auto
								+e.f-img
									img(loading="lazy" src="img/svg/lorry.svg" alt="")
							.col
								+e.SPAN.f-time--gray
									| Ориентировочный срок доставки:
									|
								+e.SPAN.f-time--black 0 дней
						+e.btn-order(type="button") Заказать доставку

mixin modalLogPItem(title, val='0 ₽')
	+e.sub-box--price
		+e.p-row.row
			+e.p-title.col=title
			+e.p-val.col-auto=val


mixin modalLogVItem(ballTxt, txt, addClasses)
	+e.d-item--val-item
		+e.v-sub-row.row.align-items-center
			.col-auto
				+e.d-ball--v=ballTxt
			+e.v-txt.col(class=addClasses)=txt

mixin modalLogDItem(ballTxt, placeholder, val='', inpClasses='')
	+e.d-item
		+e.d-sub-row.row.align-items-center
			.col-auto
				+e.d-ball=ballTxt
			.col
				+input(placeholder, 'text')(value=val class=inpClasses)

mixin modalLogItem(error)
	+e.item
		+e.i-row.row.align-items-end
			+e.i-col--size.col-md
				+e.ig-title Габариты (ДхШхВ), м
				+e.ig--size.input-group
					+e.INPUT.input.form-control(type="number" min="0" max="10" value="0.1")
					+e.x
					+e.INPUT.input.form-control(type="number" min="0" max="10" value="0.1")
					+e.x
					+e.INPUT.input.form-control(type="number" min="0" max="10" value="0.1")
			+e.i-col--volume.col-6.col-md-auto
				+e.ig-title Объем, м3
				+e.volume
					span 0.01
					span м3
			+e.i-col--weight.col-6.col-md-auto
				+e.ig-title Вес, кг
				+e.input-wrap(data-add-ph="кг")
					+e.INPUT.input--weight.form-control(type="number" min="0" max="10")
			+e.i-col--place.col.col-md-auto
				+e.ig-title Одинаковые места
				+e.ig--place.input-group
					+e.sm-btn--min(type="button")
					+e.INPUT.input.form-control(type="text" value="1")
					+e.sm-btn--plus(type="button")
			+e.i-col--btn.col-auto
				+e.btn-box
					+e.cross-btn(type="button")
						+icon('cross-sm')
			if error
				.col-12
					+e.i-error.text-danger=error


mixin modalMetalBItem(imgNum, name, addClasses='')
	+e.b-item(class=addClasses)
		+e.i-name=name
		+e.sub-row.row
			+e.s-col--img.col-sm-auto
				+e.img
					img(loading="lazy" src=`img/svg/modalMetal-${imgNum}.svg` alt="")
			+e.s-col--inps.col-sm
				+e.input-wrap(data-add-ph="мм")
					+e.INPUT.input.form-control(type="text" placeholder="Высота (1)")
				+e.input-wrap(data-add-ph="мм")
					+e.INPUT.input.form-control(type="text" placeholder="Ширина (2)")
				+e.input-wrap(data-add-ph="мм")
					+e.INPUT.input.form-control(type="text" placeholder="Толщина стенки (3)")
				+e.input-wrap(data-add-ph="м")
					+e.INPUT.input.form-control(type="text" placeholder="Длина")
				+e.input-wrap(data-add-ph="кг")
					+e.INPUT.input.form-control(type="text" placeholder="Вес")

mixin modalMetalRadio(imgNum)
	+e.r-col.col-auto
		+e.LABEL.rad-label
			input.metal-radio-js(type="radio" name="metalRadio" value=imgNum class="invisible")&attributes(attributes)
			.square
				+icon(`modalMetalRadio-${imgNum}`)
				//-img(loading="lazy" src=`img/svg/modalMetalRadio-${imgNum}.svg` alt="")