mixin sSearchBiddings(data)
	// start sSearch
	+b.SECTION.sSearch.section#sSearch&attributes(attributes)
		.container
			+e.row.row
				.col-lg-4.col-xl-3
					+sSearchParams()
						+e.inp-row.row
							.col-6
								+e.input-wrap(data-add-ph="₽")
									+e.INPUT.input.form-control(type="text" placeholder="Цена от")
							.col-6
								+e.input-wrap(data-add-ph="₽")
									+e.INPUT.input.form-control(type="text" placeholder="до")
						+e.tags-row.row
							+spTag('до 400 тыс.')
							+spTag('400 тыс. – 1 млн.')
							+spTag('1 – 5 млн')
							+spTag('5 – 20 млн')
							+spTag('20 – 100 млн')
							+spTag('100 – 1 млрд')
							+spTag('более 1 млрд')
						+e.SELECT.input.form-select(name=selectTxt)&attributes(attributes)
							option(value='1') Российский рубль
							option(value='2') Арматура
							option(value='3') Балка
							option(value='5') Круг
							option(value='6') Квадрат
							option(value='8') Лента
							option(value='9') Лист
							option(value='10') Поковка
							option(value='11') Полоса
							option(value='12') Труба
							option(value='13') Уголок
							option(value='15') Швеллер
							option(value='16') Шестигранник
							option(value='17') Шайба
							option(value='18') Проволока
							option(value='19') Диск
							option(value='20') Рельсы
							option(value='22') Планка
							option(value='23') Подкладка
						+input('Город', 'text')
						+input('Заказчик', 'text')
						.row.align-items-center
							.col
								+e.discard(type='button') Сбросить
							.col-auto.d-lg-none
								+e.hide.parameters-js Свернуть
				.col#sSearchContent
					+e.top-row.row
						.col
						.col-auto
							+sSearchRowSelect('Показать по:', '10')(class="sm")
					+e.items
						//-
						-for(let i = 0; i < 6; i++)
							+biddingItem({})
					+e.pagin-row.row
						.col-sm-auto
							+pugin()
						.col-auto.ms-auto
							+sSearchRowSelect('Показать по:', '10', 'd-xl-none d-xxl-block')(class="sm")
				.col-xl-3.d-none.d-xl-block
					+e.adv-items.sticky-js
						+sSearchAdvItem(1)
						+sSearchAdvItem(3)
			+e.baner.d-none.d-xl-block
				img(loading="lazy" src="img/@2x/sSearch-baner2.png" alt="")

mixin sSearchOrders(data)
	// start sSearch
	+b.SECTION.sSearch.section#sSearch&attributes(attributes)
		.container
			+e.row.row
				.col-lg-4.col-xl-3
					+sSearchParams()
						+e.SELECT.input.form-select(name=selectTxt)&attributes(attributes)
							option(value='1') Труба
							option(value='2') Арматура
							option(value='3') Балка
							option(value='5') Круг
							option(value='6') Квадрат
							option(value='8') Лента
							option(value='9') Лист
							option(value='10') Поковка
							option(value='11') Полоса
							option(value='12') Труба
							option(value='13') Уголок
							option(value='15') Швеллер
							option(value='16') Шестигранник
							option(value='17') Шайба
							option(value='18') Проволока
							option(value='19') Диск
							option(value='20') Рельсы
							option(value='22') Планка
							option(value='23') Подкладка
						+e.input-wrap
							+e.INPUT.input.form-control(type="text" placeholder="Город")
							+e.tooltip.tooltip-btn
								//img(loading="lazy" src="img/svg/tooltip.svg" alt="")
								+icon('tooltip')
								+b.tt-content Данные отсортируются от ближайшей к выбранному городу металлобазы до самой удаленной.
						+input('Покупатель', 'text')(disabled)
						.row.align-items-center
							.col
								+e.discard(type='button') Сбросить
							.col-auto.d-lg-none
								+e.hide.parameters-js Свернуть
				.col#sSearchContent
					+e.top-row.row
						.col
							+sSearchRowSelect('Сортировать:', 'Сперва с самым высоким рейтингом', 'd-none d-sm-block')
								option выгодное предложение
								option сначала новые
								option Цена (по возрастанию)
								option Цена (по убыванию)
						.col-auto.d-none.d-xxl-block
							+sSearchRowSelect('Показать по:', '10')(class="sm")
					+e.items
						+sSearchItem({
							imgNum: 1,
							boldTitle: 'Куплю ряд позиций срочно, читайте описание',
							noChars: true,
							txtContent: true,
							iconName: 'location',
						})
							p Добрый день, прошу Вас выставить счет на данные материалы:
							ol
								li Труба профильная 30х30х2 – 1360,2 метр.
								li Труба профильная 40х25х2 - 224,5 метр.
								li Труба профильная 40х40х3 - 128 метр.
								li Труба профильная 20х20х2 – 1360,7 метр.
								li Квадрат 20 - 105 метр.
								li Полоса 30х4 - 378 метр.
								li Арматура ф12 А240 - 20,5 метр.
								li Арматура ф10 - 78,1 метр.
								li Труба ДУ ф32х3,2 - 468 метр.
						+sSearchItem({
							imgNum: 1,
							boldTitle: 'Нужна поставка',
							noChars: true,
							txtContent: true,
							iconName: 'location',
						})
							p
								| Прошу рассмотреть возможность поставки
								br
								| Винт 30х110 ГОСТ 4762 ( внутренний шестигранник ) 24 шт
								br
								| Винт М 8х1 L-35 ( внутренний шестигранник ) 20 шт
						+sSearchItem({
							imgNum: 1,
							boldTitle: 'Длинный заголовок заявки при длинном названии компании',
							noChars: true,
							txtContent: true,
							iconName: 'location',
						})
							ol
								li Проволока светлая, диаметр 1,1 мм т 0.0021
								li Проволока горячекатаная в мотках, диаметр 6,3-6,5 мм т 0.0759
								li Прокат толстолистовой горячекатаный в листах, марка стали Ст3пс, толщина 13-20 мм
								li Швеллеры № 40, марка стали Ст0 т 0.0054
								li Швеллеры № 40, марка стали Ст0 т 0.0054
						+sSearchItem({
							imgNum: 1,
							boldTitle: 'Нужна поставка',
							noChars: true,
							txtContent: true,
							iconName: 'location',
						})
							p
								| Прошу рассмотреть возможность поставки
								br
								| Винт 30х110 ГОСТ 4762 ( внутренний шестигранник ) 24 шт
								br
								| Винт М 8х1 L-35 ( внутренний шестигранник ) 20 шт
						+sSearchItem({
							imgNum: 1,
							boldTitle: 'Куплю ряд позиций срочно, читайте описание',
							noChars: true,
							txtContent: true,
							txtContentClasses: 'active',
							iconName: 'location',
						})
							p Добрый день, прошу Вас выставить счет на данные материалы:
							ol
								li Труба профильная 30х30х2 – 1360,2 метр.
								li Труба профильная 40х25х2 - 224,5 метр.
								li Труба профильная 40х40х3 - 128 метр.
								li Труба профильная 20х20х2 – 1360,7 метр.
								li Квадрат 20 - 105 метр.
								li Полоса 30х4 - 378 метр.
								li Арматура ф12 А240 - 20,5 метр.
								li Арматура ф10 - 78,1 метр.
								li Труба ДУ ф32х3,2 - 468 метр.
						+sSearchItem({
							imgNum: 1,
							boldTitle: 'Куплю ряд позиций срочно, читайте описание',
							noChars: true,
							txtContent: true,
							iconName: 'location',
						})
							p Добрый день, прошу Вас выставить счет на данные материалы:
							ol
								li Труба профильная 30х30х2 – 1360,2 метр.
								li Труба профильная 40х25х2 - 224,5 метр.
								li Труба профильная 40х40х3 - 128 метр.
								li Труба профильная 20х20х2 – 1360,7 метр.
								li Квадрат 20 - 105 метр.
								li Полоса 30х4 - 378 метр.
								li Арматура ф12 А240 - 20,5 метр.
								li Арматура ф10 - 78,1 метр.
								li Труба ДУ ф32х3,2 - 468 метр.
						+sSearchItem({
							imgNum: 1,
							boldTitle: 'Нужна поставка',
							noChars: true,
							txtContent: true,
							iconName: 'location',
						})
							p
								| Прошу рассмотреть возможность поставки
								br
								| Винт 30х110 ГОСТ 4762 ( внутренний шестигранник ) 24 шт
								br
								| Винт М 8х1 L-35 ( внутренний шестигранник ) 20 шт
						//-
						+sSearchItem({
							imgNum: 1,
							boldTitle: 'Длинный заголовок заявки при длинном названии компании',
							noChars: true,
							txtContent: true,
							iconName: 'location',
						})
							ol
								li Проволока светлая, диаметр 1,1 мм т 0.0021
								li Проволока горячекатаная в мотках, диаметр 6,3-6,5 мм т 0.0759
								li Прокат толстолистовой горячекатаный в листах, марка стали Ст3пс, толщина 13-20 мм
								li Швеллеры № 40, марка стали Ст0 т 0.0054
								li Швеллеры № 40, марка стали Ст0 т 0.0054
						+sSearchItem({
							imgNum: 1,
							boldTitle: 'Нужна поставка',
							noChars: true,
							txtContent: true,
							iconName: 'location',
						})
							p
								| Прошу рассмотреть возможность поставки
								br
								| Винт 30х110 ГОСТ 4762 ( внутренний шестигранник ) 24 шт
								br
								| Винт М 8х1 L-35 ( внутренний шестигранник ) 20 шт
					+e.pagin-row.row
						.col-sm-auto
							+pugin()
						.col-auto.ms-auto
							+sSearchRowSelect('Показать по:', '10', 'd-xl-none d-xxl-block')(class="sm")
				.col-xl-3.d-none.d-xl-block
					+e.adv-items.sticky-js
						+sSearchAdvItem(1)
						+sSearchAdvItem(3)
			+e.baner.d-none.d-xl-block
				img(loading="lazy" src="img/@2x/sSearch-baner2.png" alt="")

mixin sSearch(data)
	// start sSearch
	+b.SECTION.sSearch.section#sSearch&attributes(attributes)
		.container
			+e.row.row
				.col-lg-4.col-xl-3
					+sSearchParams()
				.col#sSearchContent
					+e.top-row.row
						.col
							+sSearchRowSelect('Сортировать:', 'Сперва с самым высоким рейтингом', 'd-none d-sm-block')
								option выгодное предложение
								option сначала новые
								option Цена (по возрастанию)
								option Цена (по убыванию)
						.col-auto.d-none.d-xxl-block
							+sSearchRowSelect('Показать по:', '10')(class="sm")
					if !data.isEmpty
						+e.items
							+sSearchItem({
								imgNum: 1,
								name: 'Труба',
								standart: true,
								price: '324 000 ₽',
							})
							+sSearchItem({
								imgNum: 0,
								name: 'Трубопроводная арматура',
								price: '999 000 ₽',
							})
							+sSearchItem({
								addClasses: 'yellow',
								imgNum: 1,
								name: 'Трубопроводная арматура',
								price: '999 000 ₽',
							})
							+sSearchItem({
								imgNum: 0,
								name: 'Труба',
								standart: true,
								price: '324 000 ₽',
							})
							+sSearchItem({
								imgNum: 0,
								name: 'Труба',
								standart: true,
								price: '324 000 ₽',
							})
							+sSearchItem({
								imgNum: 1,
								name: 'Трубопроводная арматура',
								price: '999 000 ₽',
							})
							+sSearchItem({
								imgNum: 1,
								addClasses: 'yellow',
								name: 'Трубопроводная арматура',
								price: '999 000 ₽',
							})
							+sSearchItem({
								imgNum: 0,
								name: 'Труба',
								standart: true,
								price: '324 000 ₽',
							})
							+sSearchItem({
								imgNum: 1,
								name: 'Трубопроводная арматура',
								price: '999 000 ₽',
							})
							+sSearchItem({
								imgNum: 1,
								name: 'Трубопроводная арматура',
								price: '999 000 ₽',
							})
						+e.pagin-row.row
							.col-sm-auto
								+pugin()
							.col-auto.ms-auto
								+sSearchRowSelect('Показать по:', '10', 'd-xl-none d-xxl-block')(class="sm")
					else
						+b.search-nf
							+e.ball
								img(loading="lazy" src="img/svg/zoom-big.svg" alt="")
							.text-center
								+e.title по вашему запросу ничего не найдено
								+e.descr
									| Попробуйте скорректировать запрос или
									|
									b закажите расчет цены и сроков изготовления под заказ
								+e.btn(href="#") Перейти
				.col-xl-3.d-none.d-xl-block
					+e.adv-items.sticky-js
						+sSearchAdvItem(1)
						+sSearchAdvItem(2)
			+e.baner.d-none.d-xl-block
				img(loading="lazy" src="img/@2x/sSearch-baner.png" alt="")
			+e.txt-content-wrap.rm-cont-js
				+e.txt-content
					p Высокой востребованностью среди продукции металлопроката отличается листовой металл, сфера применения которого достаточно широка. Листы и рулоны металла используются на многих производственных предприятиях. Приобрести необходимо количество данного материала оптом можно через биржу металлопроката.
					h2
						| Характеристики
						|
						span.text-primary листового металла
					p Выпуск листового металла осуществляется двумя способами – холодной или горячей прокаткой на соответствующих станах. Изготовленный лист металла отличается качественными характеристиками, среди которых наиболее важными для производств считаются толщина листа, точность отделки и пластичность.
				.rm-hidden-js
					+e.txt-content
						b Характеристики листового металла:
						ul
							li Толщина – при холоднокатаном прокате составляет от 3 до 5 мм, при горячекатаном достигает показателей от 4 до 160 мм;
							li Точность изготовления – у листов холодного проката более ровная поверхность без погрешностей, у листов горячего проката из-за способа термической обработки металла меньшая точность изготовления с возможностью образования окалин и неровностей на поверхности;
							li Прочность или пластичность – более высокой обладают листы холодного проката, так как после термической обработки сталь отличается неоднородностью состава.
						.d-none.d-sm-block
							p Листовой металл широко используется в строительстве – для производства кровельных и отделочных материалов, настилов и стеновых ограждений. Применяется на крупных предприятиях по производству автомобилей, в судостроении. Из данного материала изготавливают и различные виды тары в виде бочек, контейнеров и проч.
							p При заказе листового металла учитываются законодательные требования, предъявляемые к производству конкретной продукции. Поэтому важнейшей характеристикой приобретаемого металла является его соответствие ГОСТ.
							p Найти нужный объем листового металла требуемых характеристик проще всего, обратившись к услугам биржи металлопроката. Здесь собрано большое количество производителей подобной продукции, выбрать среди которых наиболее подходящего не составит труда.
						//.small-sm for pp only, can be removed
						h2.small-sm
							| Все поставщики
							|
							span.text-primary листового металла на площадке MetalGo
						p На площадке MetalGo содержатся сведения о всех закупках в области металлопроката. С помощью биржи предприятиям легко найти и купить требуемый объем листового и другого металла в кратчайшие сроки, договориться об удобных условиях поставки и завязать выгодное сотрудничество с крупнейшими российскими производителями. Узнать примерную стоимость предстоящей закупки несложно – стартовая цена торгов указывается производителями при размещении предложений. К тому же, на сайте доступен калькулятор металла.
				+e.read-more.rm-btn-js
					span Читать далее
					span Свернуть

	// end sSearch

mixin sSearchItem(data)
	+b.s-item(class=`${data.addClasses || ''}`)
		+e.top-row.row.align-items-center
			if data.price
				.col
					+e.name
						a(href="#")
							span.fw-500=data.name
							span=data.price
						span.text-secondary
							|
							| с НДС
			if data.boldTitle
				.col.pe-xl-0
					+e.b-title=data.boldTitle
			.col-auto.d-none.d-md-block
				+e.comp-link.mb-0(href="#")
					+e.comp-row.row.d-flex.align-items-center
						if !data.hidden
							.col-auto.d-block
								+e.logo
									img(loading="lazy" src=`img/svg/s-item-${data.imgNum}.svg` alt="")
							.col-auto.d-block
								+e.company ООО «Челябинская стальная компания ООО «Челябинская стальная компания
						else
							.col-auto
								+b.hid-alert Информация скрыта
						.col-auto.d-block
							+e.rate
								+e.star
									img(loading="lazy" src="img/svg/star.svg" alt="")
								+e.rate-val 4.9
			.col-auto
				+e.tooltip.tooltip-btn
					img(loading="lazy" src=`img/svg/${data.iconName || 'house'}.svg` alt="")
					+b.tt-content--w-auto Челябинск
		if !data.noChars
			+e.char-row.row
				.col-md-auto
					+e.main-char 34,7 тн
				+sSearchCharItem('Марка:', '03Х21Н21М4ГБ')
				+sSearchCharItem('Размер:', '360 мм')
				+sSearchCharItem('Толщина стенки:', '18 мм')
		if data.txtContent
			//another readmore with single content box => .t-content-js
			+e.txt-wrap.t-box-js
				+e.txt-content.t-content-js(class=`${data.txtContentClasses || ''}`)
					block
				+e.t-btn.t-btn-js(class=`${data.txtContentClasses || 'invisible'}`)
					span Показать полностью...
					span Свернуть
		if data.standart
			+e.standart ГОСТ 8732-78
		.d-md-none
			+e.comp-link(href="#")
				+e.comp-row.row.d-flex.align-items-center
					if !data.hidden
						.col-auto.d-block
							+e.logo
								img(loading="lazy" src=`img/svg/s-item-${data.imgNum}.svg` alt="")
						.col-auto.d-block
							+e.company ООО «Челябинская стальная к...
					else
						.col-auto
							+b.hid-alert Информация скрыта
					.col-auto.d-block
						+e.rate
							+e.star
								img(loading="lazy" src="img/svg/star.svg" alt="")
							+e.rate-val 4.9
		+e.foot-row.row.align-items-center
			.col-sm.order-last.order-sm-0
				+e.date-row.row.gy-1
					+sSearchDateItem('Размещено:', '01.12.2020')
					+sSearchDateItem('Обновлено:', '02.12.2020')
			.col-sm-auto
				+e.btns-row.row
					.col-6.col-sm-auto
						+e.btn--out-light(type='button')
							+e.SPAN.b-icon
								img(loading="lazy" src="img/svg/send-pr.svg" alt="")
							span Написать
					.col-6.col-sm-auto
						+e.btn--out-primary(type='button') Подробнее

mixin biddingItem(data)
	+b.s-item(class=`${data.addClasses || ''}`)
		+e.data-items
			+biddingDataItem('Предмет контракта', 'Техническое обслуживание стационарных металлообнаружителей в судах Сахалинской области на 2021 год')
			+biddingDataItem('Начальная цена', '413 534.68 ₽')
			+biddingDataItem('Заказчик', 'Управление судебного департамента в Сахалинской области')
			+biddingDataItem('Способ закупки', 'Электронный аукцион')
			+biddingDataItem('Регион', '123112, г. Москва, ул. Набережная Преснесенская, д. 10, эт. 15, пом. 20')
		+e.foot-row.row.align-items-center.pb-1.pb-sm-0
			.col-sm
				+e.date-row--bidding.row
					+biddingDateItem('Размещено:', '01.12.2020')
					+biddingDateItem('Обновлено:', '02.12.2020')
					+biddingDateItem('Окончание:', '25.12.2020')
			.col-sm-auto
				+e.btn--out-primary(type='button')
					//-img(loading="lazy" src="img/svg/outsource.svg" alt="")
					+icon('outsource')
					span zakupki.gov.ru

mixin biddingDataItem(title, val)
	+e.data-item
		+e.di-title=title
		+e.di-val=val

mixin sSearchDateItem(title,val)
	.col-auto&attributes(attributes)
		+e.SPAN.d-title=title
		+e.SPAN.d-val=val

mixin biddingDateItem(title,val)
	.col-sm-auto
		+e.SPAN.d-title=title
		+e.SPAN.d-val=val

mixin sSearchCharItem(key,val)
	.col-sm-auto
		+e.SPAN.key=key
		+e.SPAN.val=val

mixin sSearchRowSelect(txt,selectTxt, addTitleClasses)
	+e.s-row.row.align-items-center&attributes(attributes)
		.col-auto(class=addTitleClasses)=txt
		.col
			//-+input(selectTxt, 'select')
			+e.SELECT.input.form-select(name=selectTxt)&attributes(attributes)
				option(value=selectTxt)=selectTxt
				if block
					block
				else
					option 1
					option 2
					option 3
					option 4


mixin sSearchAdvItem(imgNum)
	+e.adv-item(href="#")
		img(loading="lazy" src=`img/@2x/sSearch-${imgNum}.png` alt="")

mixin sSearchParams()
	+b.params--js.sticky-js
		+e.head.d-none.d-lg-block параметры поиска
		+e.content
			if block
				block
			else
				+e.SELECT.input.form-select(name=selectTxt)&attributes(attributes)
					option(value='1') Профильная труба
					option(value='2') Арматура
					option(value='3') Балка
					option(value='5') Круг
					option(value='6') Квадрат
					option(value='8') Лента
					option(value='9') Лист
					option(value='10') Поковка
					option(value='11') Полоса
					option(value='12') Труба
					option(value='13') Уголок
					option(value='15') Швеллер
					option(value='16') Шестигранник
					option(value='17') Шайба
					option(value='18') Проволока
					option(value='19') Диск
					option(value='20') Рельсы
					option(value='22') Планка
					option(value='23') Подкладка
				+input('Марка', 'text')
				//-
				+e.input-wrap(data-add-ph="мм")
					+e.INPUT.input.form-control(type="text" placeholder="Высота")
				+e.input-wrap(data-add-ph="мм")
					+e.INPUT.input.form-control(type="text" placeholder="Толщина")
				+e.input-wrap(data-add-ph="мм")
					+e.INPUT.input.form-control(type="text" placeholder="Ширина стенки")
				+e.inp-row.row
					.col-6
						+e.input-wrap(data-add-ph="тн")
							+e.INPUT.input.form-control(type="text" placeholder="Вес от")
					.col-6
						+e.input-wrap(data-add-ph="тн")
							+e.INPUT.input.form-control(type="text" placeholder="до")
				+e.inp-row.row
					.col-6
						+e.input-wrap(data-add-ph="₽")
							+e.INPUT.input.form-control(type="text" placeholder="Цена от")
					.col-6
						+e.input-wrap(data-add-ph="₽")
							+e.INPUT.input.form-control(type="text" placeholder="до")
				//-
				+e.input-wrap
					+e.INPUT.input.form-control(type="text" placeholder="Город")
					+e.tooltip.tooltip-btn
						//img(loading="lazy" src="img/svg/tooltip.svg" alt="")
						+icon('tooltip')
						+b.tt-content Данные отсортируются от ближайшей к выбранному городу металлобазы до самой удаленной.
				+input('Поставщик', 'text')
				.row.align-items-center
					.col
						+e.discard(type='button') Сбросить
					.col-auto.d-lg-none
						+e.hide.parameters-js Свернуть

mixin spTag(txt)
	.col-auto
		+e.tag=txt