mixin sSearch(data)
	// start sSearch
	+b.SECTION.sSearch.section#sSearch&attributes(attributes)
		.container
			+e.row.row
				.col-lg-4.col-xl-3
					+sSearchParams()
				.col#sSearchContent
					+e.top-row.row
						.col
							+sSearchRowSelect('Сортировать:', 'Сперва с самым высоким рейтингом', 'd-none d-sm-block')
								option выгодное предложение
								option сначала новые
								option Цена (по возрастанию)
								option Цена (по убыванию)
						.col-auto.d-none.d-xxl-block
							+sSearchRowSelect('Показать по:', '10')(class="sm")
					+e.items
						+sSearchItem({
							imgNum: 1,
							name: 'Труба',
							standart: true,
							price: '324 000 ₽',
						})
						+sSearchItem({
							imgNum: 0,
							name: 'Трубопроводная арматура',
							price: '999 000 ₽',
						})
						+sSearchItem({
							addClasses: 'yellow',
							imgNum: 1,
							name: 'Трубопроводная арматура',
							price: '999 000 ₽',
						})
						+sSearchItem({
							imgNum: 0,
							name: 'Труба',
							standart: true,
							price: '324 000 ₽',
						})
						+sSearchItem({
							imgNum: 0,
							name: 'Труба',
							standart: true,
							price: '324 000 ₽',
						})
						+sSearchItem({
							imgNum: 1,
							name: 'Трубопроводная арматура',
							price: '999 000 ₽',
						})
						+sSearchItem({
							imgNum: 1,
							addClasses: 'yellow',
							name: 'Трубопроводная арматура',
							price: '999 000 ₽',
						})
						+sSearchItem({
							imgNum: 0,
							name: 'Труба',
							standart: true,
							price: '324 000 ₽',
						})
						+sSearchItem({
							imgNum: 1,
							name: 'Трубопроводная арматура',
							price: '999 000 ₽',
						})
						+sSearchItem({
							imgNum: 1,
							name: 'Трубопроводная арматура',
							price: '999 000 ₽',
						})
					+e.pagin-row.row
						.col-sm-auto
							+pugin()
						.col-auto.ms-auto
							+sSearchRowSelect('Показать по:', '10', 'd-xl-none d-xxl-block')(class="sm")
				.col-xl-3.d-none.d-xl-block
					+e.adv-items.sticky-js
						+sSearchAdvItem(1)
						+sSearchAdvItem(2)
			+e.baner.d-none.d-xl-block
				img(loading="lazy" src="img/@2x/sSearch-baner.png" alt="")
			+e.txt-content-wrap.rm-cont-js
				+e.txt-content
					p Высокой востребованностью среди продукции металлопроката отличается листовой металл, сфера применения которого достаточно широка. Листы и рулоны металла используются на многих производственных предприятиях. Приобрести необходимо количество данного материала оптом можно через биржу металлопроката.
					h2
						| Характеристики
						|
						span.text-primary листового металла
					p Выпуск листового металла осуществляется двумя способами – холодной или горячей прокаткой на соответствующих станах. Изготовленный лист металла отличается качественными характеристиками, среди которых наиболее важными для производств считаются толщина листа, точность отделки и пластичность.
				.rm-hidden-js
					+e.txt-content
						b Характеристики листового металла:
							ul
								li Толщина – при холоднокатаном прокате составляет от 3 до 5 мм, при горячекатаном достигает показателей от 4 до 160 мм;
								li Точность изготовления – у листов холодного проката более ровная поверхность без погрешностей, у листов горячего проката из-за способа термической обработки металла меньшая точность изготовления с возможностью образования окалин и неровностей на поверхности;
								li Прочность или пластичность – более высокой обладают листы холодного проката, так как после термической обработки сталь отличается неоднородностью состава.
							.d-none.d-sm-block
								p Листовой металл широко используется в строительстве – для производства кровельных и отделочных материалов, настилов и стеновых ограждений. Применяется на крупных предприятиях по производству автомобилей, в судостроении. Из данного материала изготавливают и различные виды тары в виде бочек, контейнеров и проч.
								p При заказе листового металла учитываются законодательные требования, предъявляемые к производству конкретной продукции. Поэтому важнейшей характеристикой приобретаемого металла является его соответствие ГОСТ.
								p Найти нужный объем листового металла требуемых характеристик проще всего, обратившись к услугам биржи металлопроката. Здесь собрано большое количество производителей подобной продукции, выбрать среди которых наиболее подходящего не составит труда.
							//.small-sm for pp only, can be removed
							h2.small-sm
								| Все поставщики
								|
								span.text-primary листового металла на площадке MetalGo
							p На площадке MetalGo содержатся сведения о всех закупках в области металлопроката. С помощью биржи предприятиям легко найти и купить требуемый объем листового и другого металла в кратчайшие сроки, договориться об удобных условиях поставки и завязать выгодное сотрудничество с крупнейшими российскими производителями. Узнать примерную стоимость предстоящей закупки несложно – стартовая цена торгов указывается производителями при размещении предложений. К тому же, на сайте доступен калькулятор металла.
				+e.read-more.rm-btn-js
					span Читать далее
					span Свернуть

	// end sSearch

mixin sSearchItem(data)
	+b.s-item(class=`${data.addClasses || ''}`)
		+e.top-row.row.align-items-center
			.col
				+e.name
					a(href="#")
						span.fw-500=data.name
						span=data.price
					span.text-secondary
						|
						| с НДС
			.col-auto.d-none.d-md-block
				+e.comp-link.mb-0(href="#")
					+e.comp-row.row.d-flex.align-items-center
						.col-auto.d-block
							+e.logo
								img(loading="lazy" src=`img/svg/s-item-${data.imgNum}.svg` alt="")
						.col-auto.d-block
							+e.company ООО «Челябинская стальная к...
						.col-auto.d-block
							+e.rate
								+e.star
									img(loading="lazy" src="img/svg/star.svg" alt="")
								+e.rate-val 4.9
			.col-auto
				+e.tooltip.tooltip-btn
					img(loading="lazy" src="img/svg/house.svg" alt="")
					+b.tt-content--w-auto Челябинск
		+e.char-row.row
			.col-md-auto
				+e.main-char 34,7 тн
			+sSearchCharItem('Марка:', '03Х21Н21М4ГБ')
			+sSearchCharItem('Размер:', '360 мм')
			+sSearchCharItem('Толщина стенки:', '18 мм')
		if data.standart
			+e.standart ГОСТ 8732-78
		.d-md-none
			+e.comp-link(href="#")
				+e.comp-row.row.d-flex.align-items-center
					.col-auto.d-block
						+e.logo
							img(loading="lazy" src=`img/svg/s-item-${data.imgNum}.svg` alt="")
					.col-auto.d-block
						+e.company ООО «Челябинская стальная к...
					.col-auto.d-block
						+e.rate
							+e.star
								img(loading="lazy" src="img/svg/star.svg" alt="")
							+e.rate-val 4.9
		+e.foot-row.row.align-items-center
			.col-sm.order-last.order-sm-0
				+e.date-row.row.gy-1
					+sSearchDateItem('Размещено:', '01.12.2020')
					+sSearchDateItem('Обновлено:', '02.12.2020')
			.col-sm-auto
				+e.btns-row.row
					.col-6.col-sm-auto
						+e.btn--out-light(type='button')
							+e.b-icon
								img(loading="lazy" src="img/svg/send-pr.svg" alt="")
							span Написать
					.col-6.col-sm-auto
						+e.btn--out-primary(type='button') Подробнее

mixin sSearchDateItem(title,val)
	.col-auto
		+e.SPAN.d-title=title
		+e.SPAN.d-val=val

mixin sSearchCharItem(key,val)
	.col-sm-auto
		+e.SPAN.key=key
		+e.SPAN.val=val

mixin sSearchRowSelect(txt,selectTxt, addTitleClasses)
	+e.s-row.row.align-items-center&attributes(attributes)
		.col-auto(class=addTitleClasses)=txt
		.col
			//-+input(selectTxt, 'select')
			+e.SELECT.input.form-select(name=selectTxt)&attributes(attributes)
				option(value=selectTxt)=selectTxt
				if block
					block
				else
					option 1
					option 2
					option 3
					option 4


mixin sSearchAdvItem(imgNum)
	+e.adv-item(href="#")
		img(loading="lazy" src=`img/@2x/sSearch-${imgNum}.png` alt="")

mixin sSearchParams()
	+b.params--js.sticky-js
		+e.head.d-none.d-lg-block параметры поиска
		+e.content
			+input('Профильная труба', 'select')
				+e.SELECT.input.form-select(name=selectTxt)&attributes(attributes)
					option(value='1') Профильная труба
					option(value='2') Арматура
					option(value='3') Балка
					option(value='5') Круг
					option(value='6') Квадрат
					option(value='8') Лента
					option(value='9') Лист
					option(value='10') Поковка
					option(value='11') Полоса
					option(value='12') Труба
					option(value='13') Уголок
					option(value='15') Швеллер
					option(value='16') Шестигранник
					option(value='17') Шайба
					option(value='18') Проволока
					option(value='19') Диск
					option(value='20') Рельсы
					option(value='22') Планка
					option(value='23') Подкладка
			+input('Марка', 'text')
			//-
			+e.input-wrap(data-add-ph="мм")
				+e.INPUT.input.form-control(type="text" placeholder="Высота")
			+e.input-wrap(data-add-ph="мм")
				+e.INPUT.input.form-control(type="text" placeholder="Толщина")
			+e.input-wrap(data-add-ph="мм")
				+e.INPUT.input.form-control(type="text" placeholder="Ширина стенки")
			+e.inp-row.row
				.col-6
					+e.input-wrap(data-add-ph="тн")
						+e.INPUT.input.form-control(type="text" placeholder="Вес от")
				.col-6
					+e.input-wrap(data-add-ph="тн")
						+e.INPUT.input.form-control(type="text" placeholder="до")
			+e.inp-row.row
				.col-6
					+e.input-wrap(data-add-ph="₽")
						+e.INPUT.input.form-control(type="text" placeholder="Цена от")
				.col-6
					+e.input-wrap(data-add-ph="₽")
						+e.INPUT.input.form-control(type="text" placeholder="до")
			//-
			+e.input-wrap
				+e.INPUT.input.form-control(type="text" placeholder="Город")
				+e.tooltip.tooltip-btn
					//img(loading="lazy" src="img/svg/tooltip.svg" alt="")
					+icon('tooltip')
					+b.tt-content Данные отсортируются от ближайшей к выбранному городу металлобазы до самой удаленной.
			+input('Поставщик', 'text')
			.row.align-items-center
				.col
					+e.discard(type='button') Сбросить
				.col-auto.d-lg-none
					+e.hide.parameters-js Свернуть